## Words

Layla Alsulaimani

In [ ]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [ ]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [6]:

newWords = []
for word in words:
    if len(word) >= 5:
        newWords.append(word)
print(newWords)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [7]:
for word in words:
    if word[0] == 't':
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [8]:
ls=[ i for i in range(1,11)]
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Print a list containing the square of every odd number from 1 to 10**

In [9]:
squared_odd_lst = [i**2 for i in range(1,11) if i%2!=0]
print(squared_odd_lst)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [10]:
ls_8mult = [i**2 for i in range(1,1000) if i%8==0]
print(ls_8mult)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [11]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [12]:
len(people)
# 5 people

5

**How many people have kids**?

In [13]:
for dic in people:
    # check if each person has a kid, usin the kids key
    if dic['n_kids'] > 0:
        print(dic['name'])

Juan
Sonia
Lucía
Leo

**How many kids do they have in total?**

In [16]:
totalKids = 0
for dic in people:
    # add the munber of the kids to the total
    totalKids += dic['n_kids']
print(totalKids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [17]:
new_year_people = []
for person in people:
    #make a shalow copy for each dictionry in the list
    new_person = person.copy()
    # edit the age
    new_person["age"] += 1

    #check if the last letter of the name = a
    if new_person["name"][-1]=="a":
        # add the new born kid
        new_person["n_kids"] += 1
    new_year_people.append(new_person)

print(new_year_people)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]